# Applied Data Analysis Course Project

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns= 163
pd.options.display.max_rows=163

## E. Build a database

You will build a database to hold your data. It is up to you to define appropriate tables and well as primary keys for connecting them. (The focus is definitely more on just using the basic methods/tools introduced in the course and not on building a complex database.) In particular, you can follow the following list of steps:

    restrict your data to 1000 entries and 5 columns of your choice
    create a connection to a sqlite3 database
    create one or multiple tables, at least one of the tables should have a PRIMARY KEY
    fill the database with your data
    run at least one query to demonstrate that it works correctly

In [2]:
df = pd.read_csv('/data/ml_course/02_Data_Analysis/en.openfoodfacts.org.products.csv', index_col=0, parse_dates=[4, 6])
df.head()

,code,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,packaging,brands,categories_en,origins,manufacturing_places,labels,emb_codes,first_packaging_code_geo,cities_tags,purchase_places,stores,countries_en,ingredients_text,allergens,allergens_en,traces_en,serving_size,additives_n,additives_en,ingredients_from_palm_oil_n,ingredients_from_palm_oil,ingredients_that_may_be_from_palm_oil_n,ingredients_that_may_be_from_palm_oil,nutrition_grade_fr,pnns_groups_1,pnns_groups_2,states_en,main_category_en,energy_100g,energy-from-fat_100g,fat_100g,saturated-fat_100g,-caprylic-acid_100g,-capric-acid_100g,-lauric-acid_100g,-myristic-acid_100g,-palmitic-acid_100g,-stearic-acid_100g,-arachidic-acid_100g,-montanic-acid_100g,monounsaturated-fat_100g,polyunsaturated-fat_100g,omega-3-fat_100g,-alpha-linolenic-acid_100g,-eicosapentaenoic-acid_100g,-docosahexaenoic-acid_100g,omega-6-fat_100g,-linoleic-acid_100g,-arachidonic-acid_100g,-gamma-linolenic-acid_100g,omega-9-fat_100g,-oleic-acid_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,-sucrose_100g,-glucose_100g,-fructose_100g,-lactose_100g,-maltose_100g,-maltodextrins_100g,starch_100g,polyols_100g,fiber_100g,proteins_100g,casein_100g,serum-proteins_100g,nucleotides_100g,salt_100g,sodium_100g,alcohol_100g,vitamin-a_100g,beta-carotene_100g,vitamin-d_100g,vitamin-e_100g,vitamin-k_100g,vitamin-c_100g,vitamin-b1_100g,vitamin-b2_100g,vitamin-pp_100g,vitamin-b6_100g,vitamin-b9_100g,folates_100g,vitamin-b12_100g,biotin_100g,pantothenic-acid_100g,silica_100g,bicarbonate_100g,potassium_100g,chloride_100g,calcium_100g,phosphorus_100g,iron_100g,magnesium_100g,zinc_100g,copper_100g,manganese_100g,fluoride_100g,selenium_100g,chromium_100g,molybdenum_100g,iodine_100g,caffeine_100g,taurine_100g,ph_100g,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g
2,4559,usda-ndb-import,1489069957,2017-03-09 14:32:37+00:00,1489069957,2017-03-09 14:32:37+00:00,Peanuts,Unknown,Unknown,Unknown,Torn & Glasser,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,United States,"Peanuts, wheat flour, sugar, rice flour, tapio...",Unknown,Unknown,Unknown,28 g (0.25 cup),0.0,Unknown,0.0,Unknown,0.0,Unknown,b,Unknown,Unknown,"To be completed,Nutrition facts completed,Ingr...",Unknown,1941.0,NaN,17.86,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,60.71,17.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,17.86,NaN,NaN,NaN,0.63500,0.250,NaN,0.0,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.071,NaN,0.00129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,16087,usda-ndb-import,1489055731,2017-03-09 10:35:31+00:00,1489055731,2017-03-09 10:35:31+00:00,Organic Salted Nut Mix,Unknown,Unknown,Unknown,Grizzlies,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,United States,"Organic hazelnuts, organic cashews, organic wa...",Unknown,Unknown,Unknown,28 g (0.25 cup),0.0,Unknown,0.0,Unknown,0.0,Unknown,d,Unknown,Unknown,"To be completed,Nutrition facts completed,Ingr...",Unknown,2540.0,NaN,57.14,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.86,3.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,17.86,NaN,NaN,NaN,1.22428,0.482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.143,NaN,0.00514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0
4,16094,usda-ndb-import,1489055653,2017-03-09 10:34:13+00:00,1489055653,2017-03-09 10:34:13+00:00,Organic Polenta,Unknown,Unknown,Unknown,Bob's Red Mill,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,United States,Organic polenta,Unknown,Unknown,Unknown,35 g (0.25 cup),0.0,Unknown,0.0,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,"To be completed,Nutrition facts completed,Ingr...",Unknown,1552.0,NaN,1.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7,8.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16100,usda-ndb-import,1489055651,2017-03-09 10:34:11+00:00,1489055651,2017-03-09 10:34:11+00:00,Breadshop Honey Gone Nuts Granola,Unknown,Unknown,Unknown,Unfi,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,United States,"Rolled oats, grape concentrate, expeller press...",Unknown,Unknown,Unknown,52 g (0.5 cup),0.0,Unknown,0.0,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,"To be completed,Nutrition facts completed,Ingr...",Unknown,1933.0,NaN,18.27,1.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.46,11.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7,13.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.038,NaN,0.00346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16117,usda-ndb-import,1489055730,2017-03-09 10:35:30+00:00,1489055730,2017-03-09 10:35:30+00:00,Organic Long Grain White Rice,Unknown,Unknown,Unknown,Lundberg,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,United States,Organic long grain white rice,Unknown,Unknown,Unknown,45 g (0.25 cup),0.0,Unknown,0.0,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,"To be completed,Nutrition facts completed,Ingr...",Unknown,1490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Select 1000 entries

In [3]:
# Select only entries with completed data
df = df[df.states_en.str.contains('To be checked')]
df.shape

(60005, 122)

In [4]:
countries_en = df.countries_en.str.split(',', expand=True)
countries_en = countries_en.stack()
countries_en = countries_en.to_frame(name='countries_en')
countries_en['value'] = 1
countries_en = countries_en.groupby('countries_en').sum()
countries_en = countries_en.sort_values('value', ascending=False)
countries_en.head(50)

                           value
countries_en
France                     47626
Germany                     4754
Spain                       3208
United Kingdom              1769
Switzerland                 1631
Belgium                     1056
United States                785
Australia                    419
Portugal                     340
Italy                        332
Serbia                       311
Russia                       309
Netherlands                  277
Sweden                       267
Canada                       142
Guadeloupe                   136
Denmark                      120
Mexico                        88
Austria                       71
Brazil                        70
Poland                        65
French Guiana                 64
RÃ©union                       63
New Zealand                   58
Hungary                       46
Norway                        41
Tunisia                       38
Unknown                       38
Romania                       37
Czech Republic                29
Saint Pierre and Miquelon     28
Luxembourg                    27
Martinique                    25
Morocco                       24
Greece                        23
Ireland                       22
Thailand                      21
Taiwan                        20
Montenegro                    19
Croatia                       18
Japan                         17
Slovenia                      17
Bosnia and Herzegovina        15
Finland                       15
New Caledonia                 14
Hong Kong                     12
French Polynesia              11
South Africa                  11
Algeria                       11
Senegal                       11

In [5]:
# Remove data that have a duplicated product name
df = df[~df.product_name.duplicated(keep=False)]
df.shape

(45812, 122)

In [6]:
countries_en = df.countries_en.str.split(',', expand=True)
countries_en = countries_en.stack()
countries_en = countries_en.to_frame(name='countries_en')
countries_en['value'] = 1
countries_en = countries_en.groupby('countries_en').sum()
countries_en = countries_en.sort_values('value', ascending=False)
countries_en.head(50)

                           value
countries_en
France                     35882
Germany                     3623
Spain                       2326
United Kingdom              1474
Switzerland                 1227
Belgium                      778
United States                667
Australia                    361
Portugal                     288
Russia                       284
Italy                        284
Serbia                       271
Sweden                       246
Netherlands                  234
Canada                       125
Guadeloupe                   106
Denmark                       82
Mexico                        79
Brazil                        65
Austria                       62
Poland                        57
New Zealand                   51
French Guiana                 46
RÃ©union                       46
Hungary                       40
Norway                        38
Tunisia                       35
Romania                       33
Unknown                       32
Luxembourg                    22
Saint Pierre and Miquelon     22
Greece                        21
Ireland                       21
Taiwan                        20
Martinique                    18
Czech Republic                18
Slovenia                      16
Croatia                       16
Japan                         15
Montenegro                    15
Finland                       13
Bosnia and Herzegovina        13
New Caledonia                 12
Thailand                      12
Morocco                       12
Hong Kong                     10
South Africa                  10
French Polynesia               9
Republic of Macedonia          8
Colombia                       8

In [7]:
df.dropna(subset=['fat_100g', 'carbohydrates_100g', 'proteins_100g'], inplace=True)
df.shape

(43005, 122)

In [8]:
# Keep only data with a known country
df = df[~df.countries_en.str.contains('Unknown')]

In [9]:
countries_en = df.countries_en.str.split(',', expand=True)
countries_en = countries_en.stack()
countries_en = countries_en.to_frame(name='countries_en')
countries_en['value'] = 1
countries_en = countries_en.groupby('countries_en').sum()
countries_en = countries_en.sort_values('value', ascending=False)
countries_en.head(50)

                           value
countries_en
France                     33745
Germany                     3401
Spain                       2253
United Kingdom              1278
Switzerland                 1184
Belgium                      708
United States                639
Australia                    340
Portugal                     275
Serbia                       266
Italy                        254
Sweden                       241
Netherlands                  218
Russia                       203
Canada                       116
Guadeloupe                   101
Denmark                       76
Mexico                        76
Brazil                        58
Austria                       57
Poland                        53
New Zealand                   50
French Guiana                 45
RÃ©union                       41
Hungary                       38
Norway                        34
Tunisia                       33
Romania                       30
Taiwan                        20
Luxembourg                    20
Saint Pierre and Miquelon     19
Ireland                       18
Greece                        17
Martinique                    17
Czech Republic                16
Croatia                       16
Montenegro                    15
Slovenia                      15
Bosnia and Herzegovina        13
Morocco                       12
Japan                         12
New Caledonia                 12
Thailand                      11
South Africa                  10
Hong Kong                      9
Finland                        9
French Polynesia               9
Republic of Macedonia          8
Colombia                       8
China                          5

In [10]:
# Remove duplicates of generic name
df = df[~df.generic_name.duplicated()]
df.shape

(25227, 122)

In [11]:
countries_en = df.countries_en.str.split(',', expand=True)
countries_en = countries_en.stack()
countries_en = countries_en.to_frame(name='countries_en')
countries_en['value'] = 1
countries_en = countries_en.groupby('countries_en').sum()
countries_en = countries_en.sort_values('value', ascending=False)
countries_en.head(50)

                           value
countries_en
France                     18955
Germany                     2533
Spain                       1810
Switzerland                  717
United Kingdom               610
Belgium                      431
United States                248
Serbia                       235
Portugal                     230
Italy                        191
Russia                       169
Netherlands                  147
Sweden                       144
Canada                        92
Mexico                        68
Guadeloupe                    68
Denmark                       63
Australia                     55
Brazil                        53
Austria                       49
Norway                        33
Hungary                       30
Poland                        29
Tunisia                       26
French Guiana                 26
Romania                       25
RÃ©union                       25
Taiwan                        15
Croatia                       15
Slovenia                      15
Montenegro                    14
Greece                        14
Czech Republic                12
Bosnia and Herzegovina        12
Luxembourg                    12
Ireland                       11
Saint Pierre and Miquelon     10
Martinique                     9
Republic of Macedonia          8
South Africa                   8
Colombia                       7
New Caledonia                  7
Finland                        6
Morocco                        6
New Zealand                    6
Hong Kong                      5
Thailand                       4
Algeria                        3
Bulgaria                       3
China                          3

In [12]:
# Drop entries with France since it is over represented
df.drop(df[df.countries_en == 'France'].sample(n=15000).index, inplace=True)
df.shape

(10227, 122)

In [13]:
# Remove duplicates of brands
df = df[~df.brands.duplicated()]
df.shape

(4767, 122)

In [14]:
countries_en = df.countries_en.str.split(',', expand=True)
countries_en = countries_en.stack()
countries_en = countries_en.to_frame(name='countries_en')
countries_en['value'] = 1
countries_en = countries_en.groupby('countries_en').sum()
countries_en = countries_en.sort_values('value', ascending=False)
countries_en.head(50)

                           value
countries_en
France                      1732
Germany                     1055
Spain                        722
Switzerland                  348
United Kingdom               272
Belgium                      213
United States                209
Italy                        141
Russia                       127
Portugal                     125
Serbia                       107
Netherlands                   84
Canada                        78
Sweden                        66
Australia                     46
Mexico                        44
Brazil                        38
Austria                       32
Denmark                       30
Guadeloupe                    29
Norway                        25
Poland                        20
RÃ©union                       20
Romania                       19
Hungary                       18
Tunisia                       15
French Guiana                 13
Taiwan                        13
Slovenia                      11
Luxembourg                     9
Greece                         9
Croatia                        8
Czech Republic                 8
Saint Pierre and Miquelon      7
Ireland                        7
South Africa                   7
Montenegro                     6
Bosnia and Herzegovina         6
Colombia                       6
New Caledonia                  6
Republic of Macedonia          4
New Zealand                    4
Thailand                       4
Morocco                        4
Hong Kong                      4
Martinique                     4
Finland                        3
Slovakia                       3
Argentina                      3
South Korea                    2

In [15]:
df = df.sample(n=1000)
df.shape

(1000, 122)

## Select 5 columns

In [16]:
sel_col = ['product_name', 'countries_en', 'fat_100g', 'carbohydrates_100g', 'proteins_100g']
df = df.loc[:, sel_col]
df.head()

,product_name,countries_en,fat_100g,carbohydrates_100g,proteins_100g
310942,AKVO multivitamin aroma,Serbia,0.1,5.4,0.1
282610,Hanuta,"France,Germany",31.9,54.0,7.6
339831,Aceitunas verdes deshuesadas &quot;Jolca&quot;...,Spain,17.0,0.0,1.0
217411,Petit Camembert au Lait Cru,Germany,23.0,0.5,21.0
346905,Allinson volkoren,Netherlands,1.0,37.0,9.0

## Build database

In [17]:
db = sqlite3.connect("world_food.db")
cursor = db.cursor()

In [18]:
query= "CREATE TABLE world_food (product_name TEXT PRIMARY KEY, countries_en TEXT, fat_100g FLOAT, carbohydrates_100g FLOAT, proteins_100g FLOAT);"
cursor.execute(query)

In [19]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
results = cursor.fetchall()
print(results)

[('world_food',)]

In [20]:
df.to_sql(name='world_food', con=db, if_exists='append', index=False)

## Run query

In [21]:
def run_query(query):
    return pd.read_sql_query(query,db)

In [22]:
query = "SELECT * FROM world_food WHERE countries_en='Germany' LIMIT 20"
run_query(query)

,product_name,countries_en,fat_100g,carbohydrates_100g,proteins_100g
0,Petit Camembert au Lait Cru,Germany,23.0,0.5,21.0
1,Cocofin aus KokosÃ¶l,Germany,100.0,0.0,0.0
2,KÃ¼stenbrause,Germany,0.0,10.0,0.0
3,Bourbon Vanille,Germany,7.4,28.0,2.5
4,Vollkornspaghetti,Germany,2.0,63.0,14.0
5,Rinder Hackfleisch,Germany,20.0,0.0,19.0
6,Huober Sticks,Germany,5.3,69.0,12.0
7,Schokoladen-Torte,Germany,25.0,40.0,9.5
8,Pfeffersalami im Pfeffermaltel gerÃ¤uchert,Germany,26.0,1.0,21.0
9,merci Frohe Ostern,Germany,38.6,48.9,7.3
10,Chocolate Symphony No. 11 WeiÃe Crunchy Mandel...,Germany,36.0,50.0,7.4
11,Basmati Reis Traditionell,Germany,1.0,77.0,8.0
12,le Cabrissac,Germany,26.0,0.5,17.0
13,Banana Split,Germany,19.0,30.0,4.3
14,Kwas,Germany,0.0,9.1,0.0
15,Karlsbader Oblaten,Germany,10.3,80.0,6.8
16,Stuttgarter Apfelsaft,Germany,0.1,11.0,0.1
17,Schmelzflocken,Germany,6.4,58.3,12.5
18,Bio Kartoffel PÃ¼ree,Germany,1.6,11.3,2.6
19,Blanc de Pomm,Germany,34.0,0.8,20.0